@use "../../mixins.scss" as m;

.glassmorphism {
  $blur: 16px;
  $brightness: 150%;

  .navbar, .navbar-container, .offcanvas, #navlinksadmdb, 
  .table, .btnback, .cookieconsent, pre, footer {
    background: rgba(255, 255, 255, 0.5);
    @include m.setBlur($blur, $brightness);
  }

  .card, .mychart, .myschedule, .seltypechart {
    background: rgba(255, 255, 255, 0.8);
    @include m.setBlur($blur, $brightness);
  }

  // .navbar {
  //   border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  // }

  // section {
  //   border: 1px solid rgba(255, 255, 255, 0.15);
  // }

  // footer {
  //   border-top: 1px solid rgba(255, 255, 255, 0.15);
  // }
}