@use "themes/mixins.scss" as m;

.admdashboard,
#admdashboard {
    display: block;

    .navbartopadmdb {
        display: inherit;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999;
        backdrop-filter: blur(12px);
        background-color: #212529;
        color: white;
    }

    .navlinksadmdb,
    #navlinksadmdb {
        display: inherit;
        background: #212529;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: auto;
        width: 400px;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        padding: 15px;
        z-index: 99999;
        font-family: var(--font-orbitron);
        visibility: hidden;
        opacity: 0;

        &.open {
            visibility: visible;
            opacity: 1;
            pointer-events: all;
        }

        &.closed {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }

        &.rounded {
            border-radius: 15px !important;
        }
        
        &.anim {
            visibility: visible;
            opacity: 1;
            pointer-events: fill;

            &.open {
                @include m.applyAnim(fadein, 0.5s, ease-in, both);
                    
                &.slideleft {
                    @include m.applyAnim(slideLeft, 0.5s, ease, forwards);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }

                &.slideright {
                    @include m.applyAnim(slideRight, 0.5s, ease, forwards);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }

            &.closed {
                @include m.applyAnim(fadeout, 0.5s, ease-out, both);
            }
        }

        &.smsbar {
            width: 5rem;

            .navbar-brand {
                display: none !important;
            }

            .dropdown,
            .sublinks {
                flex-direction: column;
                padding: 0;

                .sublink {
                    width: auto;

                    .bi {
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                    }
                }
            }

            .mysublinks {
                .dropdown-toggle {
                    padding: 15px;
                    font-size: 1rem;
                    line-height: 1rem;

                    .bi {
                        margin: auto !important;
                    }

                    &::after {
                        display: none;
                    }
                }

                .dropdown-menu {
                    li {
                        display: inline-flex !important;
                        max-width: 100%;
                    }

                    transform: translate(0px, 0px) !important;
                    min-width: 100%;
                    max-width: 100%;
                    padding: 0;
                }
            }

            .mynavlinkalogin {
                display: flex;
                flex-direction: column !important;
                bottom: 2rem !important;

                img {
                    margin: 0 !important;
                }

                a>span {
                    display: none;
                }

                .btn {
                    margin-top: 15px;
                }
            }

            .navlinkname {
                display: none;
            }

            a>span {
                display: none;
            }

            li.nav-item {
                width: 3rem;
                display: flex;
                word-break: break-all;
                text-align: center;
                justify-content: center;
                align-items: center;

                .nav-link {
                    .bi {
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                    }

                    .navlinkname {
                        display: block;
                        font-size: .4rem;
                        line-height: .4rem;
                        white-space: normal;
                        margin: 5px -1rem;
                        padding: 0;
                    }
                }
            }
        }

        .nav-item {
            &.shfixed {
                position: fixed;
                right: 0;
                top: 50%;
                transform: translate(50%, 50%);
                background-color: transparent;
                border: 0;
                box-shadow: 2px 4px 4px;
                width: 2rem !important;
                height: 2rem;
                max-width: 100%;
                max-height: 100%;
                border-radius: 50%;

                .btn {
                    width: 2rem;
                    height: 2rem;
                    max-width: 100%;
                    max-height: 100%;
                    padding: 0;
                    margin: 0 auto;
                    color: inherit;
                    background-color: inherit;
                    @include m.setBlur(12px, 100%);
                }
            }
        }

        .btnclosenav {
            padding-top: var(--bs-navbar-brand-padding-y);
            padding-bottom: var(--bs-navbar-brand-padding-y);
            padding-left: 0;
            padding-right: 0;
        }

        .nav-link {
            font-family: var(--font-orbitron);
            font-weight: normal;
            font-size: 1rem;
            line-height: 1rem;
            padding: 15px;
        }

        .navlinkalogin {
            position: absolute;
            bottom: 0;
            top: auto;
            left: 0;
            right: 0;

            .btnatp {
                background: transparent;
                border: 1px solid;

                &:hover {
                    background: var(--foreground);
                    border-color: inherit;
                    color: var(--background);
                }
            }
        }

        .imgavatarheader {
            display: inline-flex;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
            margin-right: .5rem;
        }

        * {
            color: inherit;

            &:not(.nav-item):not(.active) {
                background: transparent;
                border-color: transparent;
            }
        }
    }

    .imgavatar {
        width: 40px;
        height: 40px;
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center center;
    }

    .ico {
        font-size: 1.5rem !important;
        line-height: 1.5rem !important;
    }

    .btnshside {
        display: inherit;
        align-items: center;
        transition: all 150ms linear;
    }

    .btnshsidebynav {
        display: inherit;
        align-items: center;
    }

    .navbar-toggler {
        * {
            border-color: inherit;
            color: inherit;
        }
    }

    .hidden .btnshside,
    .hidden .btnshsidebynav {
        display: none;
    }
}

.hidden {
    display: none !important;
}

@media all and (max-width: 992px) {

    .admdashboard,
    #admdashboard {
        .navlinksadmdb {
            top: 0;
            width: 100%;
        }
    }
}