.admdashboard,
#admdashboard {
    display: block;

    .navbartopadmdb {
        display: inherit;
        background-color: #212529;
        color: white;
    }

    .navlinksadmdb,
    #navlinksadmdb {
        background: #212529;
        color: white;
        position: fixed;
        left: 0;
        right: auto;
        top: 0;
        width: inherit;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        padding: 15px;
        z-index: 99999;
        font-family: var(--font-orbitron);

        &.smnavs {
            width: 5rem;

            .navbar-brand {
                display: none !important;
            }

            .dropdown,
            .sublinks {
                flex-direction: column;
                padding: 0;

                .sublink {
                    width: auto;

                    .bi {
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                    }
                }
            }

            .mysublinks {
                .dropdown-toggle {
                    padding: 5px;

                    .bi {
                        margin: auto !important;
                    }

                    &::after {
                        display: none;
                    }
                }

                .dropdown-menu {
                    li {
                        display: inline-flex !important;
                        max-width: 100%;
                    }

                    transform: translate(0px, 0px) !important;
                    max-width: 100%;
                    padding: 0;
                }
            }

            .mynavlinkalogin {
                display: flex;
                flex-direction: column !important;
                bottom: 2rem !important;

                img {
                    margin: 0 !important;
                }

                a>span {
                    display: none;
                }

                .btn {
                    margin-top: 5px;
                }
            }

            .navlinkname {
                display: none;
            }

            a>span {
                display: none;
            }

            li.nav-item {
                width: 3rem;
                display: flex;
                word-break: break-all;

                .nav-link {
                    .bi {
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                    }
                }
            }
        }

        .nav-link {
            font-family: var(--font-orbitron);
            font-size: var(--bs-nav-link-font-size);
            font-weight: var(--bs-nav-link-font-weight);
        }

        .navlinkalogin {
            position: absolute;
            bottom: 0;
            top: auto;
            left: 0;
            right: 0;

            .btnatp {
                background: transparent;
                border: 1px solid;

                &:hover {
                    background: var(--foreground);
                    border-color: inherit;
                    color: var(--background);
                }
            }
        }

        .imgavatarheader {
            display: inline-flex;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
            margin-right: .5rem;
        }

        * {
            color: inherit;
        }
    }

    .imgavatar {
        width: 40px;
        height: 40px;
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center center;
    }

    .ico {
        font-size: 1.5rem !important;
        line-height: 1.5rem !important;
    }

    .btnshside {
        display: inherit;
        align-items: center;
    }

    .btnshsidebynav {
        display: inherit;
        align-items: center;
    }

    .navbar-toggler {
        border-color: white;
        color: white;

        * {
            border-color: inherit;
            color: inherit;
        }
    }

    .hidden .btnshside,
    .hidden .btnshsidebynav {
        display: none;
    }
}

.hidden {
    display: none !important;
}

@media all and (max-width: 992px) {

    .admdashboard,
    #admdashboard {
        .navlinksadmdb {
            top: 0;
            width: 100%;
        }
    }
}