@use "functions.scss" as f;
@use "mixins.scss" as m;

@mixin themecontent($themename, $propstheme) {
    $bgcolorprimary: f.getvalmap($propstheme, "bgcolorprimary"); //background color primary
    $bgcolorsecondary: f.getvalmap($propstheme, "bgcolorsecondary"); //background color secondary
    $fgcolorprimary: f.getvalmap($propstheme, "fgcolorprimary"); //color primary
    $fgcolorsecondary: f.getvalmap($propstheme, "fgcolorsecondary"); //color secondary

    --bs-body-color: #{$fgcolorprimary};
    --bs-body-bg: #{$bgcolorprimary};

    @if ($themename == "red") {
        --fc-now-indicator-color: #9a0303;
    } @else {
        --fc-now-indicator-color: red;
    }

    .glassmorphism {
        .navbar, .navbar-container, .offcanvas, #navlinksadmdb, footer {
            @include m.applyBkg($themename, .5);
        }
    }

    .navbar {
        --background: #{$bgcolorprimary};

        .navbar-brand {
            color: $fgcolorprimary;
        }

        .navbar-toggler {
            color: $fgcolorprimary;
            border-color: $fgcolorprimary;
        }

        input {
            background-color: inherit;
            color: $fgcolorsecondary;
        }

        form {
            input {
                border-color: $fgcolorprimary;
                color: $fgcolorprimary;
            }

            ::placeholder {
                color: $fgcolorprimary;
            }

            .btn {
                color: $fgcolorprimary;
            }
        }

        .form-control {
            &:focus {
                box-shadow: 0 0 0 0.25rem $fgcolorprimary;
            }
        }

        .btn {
            color: $fgcolorprimary;
        }

        .btnsearch {
            background-color: transparent !important;
        }

        .collapse {
            .btn {
                border-color: var(--bs-btn-close-color);
            }
        }
    }

    .navbar-3D, .logo-3D {
        @include m.gen3dtext($themename);
    }

    .btn-3D-box {
        $type: "box";
        $color: black;

        @if($themename == "light" or $themename == "system" or $themename == "green" or $themename == "yellow") {
            $color: black;
        } @else {
            $color: white;
        }

        @include m.gen3dbtn($type, $color, 0px, 5px, 0, 0px, outset);

        &:hover {
            @include m.gen3dbtn($type, $color, 0px, 2px, 0, 0px, outset);
        }
    }

    .offcanvas {
        .btn-close {
            --bs-btn-close-color: #{$fgcolorprimary};
            --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);

            @if $themename == "dark" {
                --bs-btn-close-bg: url("/icons/close/closeico_light.svg");
                --bs-btn-close-white-filter: invert(0) grayscale(100%) brightness(200%);
            } @else if $themename == "light" {
                --bs-btn-close-bg: url("/icons/close/closeico_dark.svg");
                --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(0%);
            } @else if $themename == "red" or $themename == "blue" {
                --bs-btn-close-bg: url("/icons/close/closeico_light.svg");
                --bs-btn-close-white-filter: invert(0) grayscale(100%) brightness(200%);
            } @else {
                --bs-btn-close-bg: url("/icons/close/closeico.svg");
                --bs-btn-close-white-filter: invert(0) grayscale(100%) brightness(200%);
            }

            background: transparent var(--bs-btn-close-bg) center / 1em auto no-repeat;
            color: var(--bs-btn-close-color);
            stroke: var(--bs-btn-close-color);
            fill: var(--bs-btn-close-color);
            filter: var(--bs-btn-close-white-filter) !important;
        }
    }

    .mybkgpage {
        background-color: $bgcolorsecondary;
        color: $fgcolorprimary;
    }

    .bcuserinfo {
        .bcavatar {
            box-shadow: 2px 4px 6px $fgcolorprimary !important;
        }
    }

    .allbcuserinfo {
        .allbcavatar {
            box-shadow: 2px 4px 6px $fgcolorprimary !important;
        }
    }

    .modal {
        color: $fgcolorprimary;
        border-color: $fgcolorprimary;

        .modal-header,
        .modal-body,
        .modal-footer {
            border-color: $fgcolorprimary;
        }

        .btn-close {
            --bs-btn-close-color: #{$fgcolorprimary};
            --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);

            @if $themename == "light" {
                --bs-btn-close-bg: url("/icons/close/closeico_light.svg");
                --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
            } @else if $themename == "dark" {
                --bs-btn-close-bg: url("/icons/close/closeico_dark.svg");
                --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
            } @else if $themename == "system" {
                --bs-btn-close-bg: url("/icons/close/closeico_light.svg");
                --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
            } @else if $themename == "red" {
                --bs-btn-close-bg: url("/icons/close/closeico_light.svg");
                --bs-btn-close-white-filter: invert(0) grayscale(100%) brightness(200%);
            } @else if $themename == "green" {
                --bs-btn-close-bg: url("/icons/close/closeico_light.svg");
                --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
            } @else if $themename == "blue" {
                --bs-btn-close-bg: url("/icons/close/closeico_light.svg");
                --bs-btn-close-white-filter: invert(0) grayscale(100%) brightness(200%);
            } @else if $themename == "yellow" {
                --bs-btn-close-bg: url("/icons/close/closeico_light.svg");
                --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
            } @else {
                --bs-btn-close-bg: url("/icons/close/closeico.svg");
                --bs-btn-close-white-filter: invert(0) grayscale(100%) brightness(200%);
            }

            background: transparent var(--bs-btn-close-bg) center / 1em auto no-repeat;
            color: var(--bs-btn-close-color);
            stroke: var(--bs-btn-close-color);
            fill: var(--bs-btn-close-color);
            filter: var(--bs-btn-close-white-filter) !important;
        }
    }

    .dropdown-menu {
        background-color: $bgcolorprimary;
        color: $fgcolorprimary;

        & {
            .active {
                --bs-dropdown-link-active-bg: #{$bgcolorsecondary};
                --bs-dropdown-link-active-color: #{$fgcolorprimary};
            }

            :active,
            :focus,
            :hover {
                background-color: $bgcolorsecondary !important;
                color: $fgcolorprimary !important;
            }
        }
    }

    .iconav {
        color: $fgcolorprimary;
    }

    .navlinksadmdb, #navlinksadmdb {
        background-color: $bgcolorprimary;
        color: $fgcolorprimary !important;

        .shfixed {
            .btn {
                @include m.applyBkg($themename, .5);
                color: $fgcolorprimary;
            }
        }

        .btn {
            background-color: transparent;
            border-color: transparent;
        }

        .mysublinks {
            .dropdown-menu {
                background-color: transparent;
                border-color: transparent;
            }
        }

        .nav-link {
            &.active {
                background-color: $bgcolorsecondary;
                color: $fgcolorprimary;
            }
        }
    }

    .mychart {
        background-color: $bgcolorprimary !important;
    }

    .table {

        thead,
        tfoot {
            background-color: $bgcolorprimary;
            color: $fgcolorprimary;

            th,
            td {
                background-color: inherit;
                color: $fgcolorprimary;
            }
        }

        tbody {
            background-color: #{$bgcolorprimary + "b3"};
            color: $fgcolorprimary;

            th,
            td {
                background-color: inherit;
                border-color: inherit;
                color: inherit;
            }
        }

        .table-bordered *:not(i) {
            border-color: $fgcolorprimary;
        }

        .btn {
            background-color: $bgcolorsecondary;
            color: inherit;
        }
    }

    .myeditorblk {
        .editor-inner {
            background-color: $bgcolorprimary;
            border-color: $bgcolorprimary;
            color: $fgcolorprimary;
            caret-color: inherit;
        }

        .editor-input-prev {
            background-color: #{$bgcolorprimary + "b3"};
            border-color: #{$bgcolorprimary + "b3"};
            color: $fgcolorprimary;
            caret-color: inherit;
        }

        .toolbar {
            background-color: $bgcolorprimary;
            color: $fgcolorprimary;

            .divider {
                background-color: $fgcolorprimary;
            }

            .toolbar-item {
                @if $themename == "dark" {
                    filter: invert(100%) sepia(100%) saturate(7%) hue-rotate(119deg) brightness(103%) contrast(102%);
                } @else {
                    filter: invert(0%) sepia(98%) saturate(14%) hue-rotate(43deg) brightness(90%) contrast(100%);
                }

                &:hover,
                &:active,
                &:focus {
                    @if $themename == "dark" {
                        filter: invert(100%) sepia(100%) saturate(7%) hue-rotate(119deg) brightness(103%) contrast(102%);
                    } @else {
                        filter: invert(0%) sepia(98%) saturate(14%) hue-rotate(43deg) brightness(90%) contrast(100%);
                    }
                }
            }
        }
    }

    #stepper {
        #stepperind {
            background-color: $bgcolorsecondary;
        }

        &.sactive #stepperind,
        &.scomplete #stepperind {
            background-color: $bgcolorprimary !important;
        }
    }

    .card {
        background-color: $bgcolorprimary;
        color: $fgcolorprimary;

        .btn {
            background-color: $bgcolorsecondary !important;
            color: $fgcolorprimary !important;
        }
    }

    .carousel {
        .carousel-indicators {
            [data-bs-target] {
                background-color: white !important;
            }
        }
    }

    header {
        background-color: $bgcolorprimary;
    }

    section,
    .container,
    .container-fluid {
        .btn {
            &:not(.btn-tp) {
                background-color: $bgcolorprimary;
                border-color: $bgcolorprimary;
            }

            color: $fgcolorprimary;
        }
    }

    #login section {
        background-color: #{$bgcolorsecondary + "b3"} !important;
        color: $fgcolorsecondary;

        label,
        p,
        i,
        a {
            color: $fgcolorprimary;
        }

        form {
            input {
                background-color: $bgcolorprimary;
                color: $fgcolorprimary;

                &::placeholder {
                    color: $fgcolorprimary;
                }
            }

            .btn {
                background-color: $bgcolorprimary;
            }
        }

        .btn {
            background-color: $bgcolorprimary;
        }
    }

    #register section {
        background-color: #{$bgcolorsecondary + "b3"} !important;
        color: $fgcolorsecondary;

        label,
        p,
        i,
        a {
            color: $fgcolorprimary;
        }

        form {
            input {
                background-color: $bgcolorprimary;
                color: $fgcolorprimary;

                &::placeholder {
                    color: $fgcolorprimary;
                }
            }

            .btn {
                background-color: $bgcolorprimary;
            }
        }

        .btn {
            background-color: $bgcolorprimary;
        }
    }

    .madmdashboard {
        background-color: $bgcolorprimary;
        color: $fgcolorprimary;
    }

    #navbartopadmdb {
        background-color: $bgcolorprimary;
        color: $fgcolorprimary;
    }

    .alert {
        background-color: #{$bgcolorsecondary + "b3"} !important;
        color: $fgcolorprimary;
        border-color: $fgcolorprimary;
    }

    .pagination {
        .page-item {
            .page-link {
                background-color: $bgcolorsecondary;
                border-color: $bgcolorsecondary;
                color: $fgcolorprimary;
            }
        }

        .active>.page-link,
        .page-link.active {
            background-color: $bgcolorprimary !important;
            border-color: $bgcolorprimary !important;
            color: $fgcolorprimary !important;
        }
    }

    .myschedule {
        background-color: $bgcolorprimary;
        color: $fgcolorprimary;

        .rbc-month-view {
            border: 1px solid $fgcolorprimary !important;
        }

        .rbc-toolbar {
            button {
                color: $fgcolorprimary;

                &:focus,
                &:active,
                &:hover,
                &:focus-visible {
                    background-color: $bgcolorprimary;
                }
            }

            button.rbc-active {
                background-color: $bgcolorprimary;
            }
        }

        .rbc-btn-group {
            background-color: $bgcolorsecondary;

            .rbc-active {
                background-color: $bgcolorsecondary;
            }

            &:active,
            &:hover,
            &:focus,
            &:focus-visible {
                background-color: $bgcolorsecondary;
            }
        }

        .rbc-off-range {
            color: $fgcolorprimary;
        }

        .rbc-off-range-bg,
        .rbc-off-range {
            background-color: $bgcolorsecondary;
        }

        .rbc-today {
            background-color: $bgcolorsecondary;
            color: $fgcolorprimary;
        }

        .rbc-date-cell {
            border-color: $fgcolorprimary;
        }

        .rbc-calendar *,
        .rbc-calendar ::before,
        .rbc-calendar ::after {
            border-color: $fgcolorprimary;
        }
    }

    .mynavdatamode {
        .nav-link {
            background-color: $bgcolorsecondary;
            color: $fgcolorprimary;

            &.active {
                background-color: $bgcolorprimary;
            }
        }
    }

    .frmuplfilesingle, .frmuplfilesmult {
        .lblfile {
            background: $bgcolorprimary;
            border-color: $bgcolorprimary;
            color: $fgcolorprimary;

            &:hover {
                background-color: #{$bgcolorprimary + "b3"} !important;
                border-color: #{$bgcolorprimary + "b3"} !important;
                color: $fgcolorprimary !important;
            }
        }

        input[type=file] {
            &::after {
                color: $fgcolorprimary;
            }

            &::file-selector-button {
                background: $bgcolorprimary;
                border-color: $bgcolorprimary;
                color: $fgcolorprimary;
    
                &:hover {
                    background-color: #{$bgcolorprimary + "b3"};
                    border-color: #{$bgcolorprimary + "b3"};
                    color: $fgcolorprimary;
                }
            }
        }
    }

    .contentjson {
        background-color: #{$bgcolorprimary + "b3"};
        color: $fgcolorprimary;
    }

    .commentlocked {
        border-color: inherit;
    }

    .frmcommentsblk {
        .frmcommentscol2 {
            .caret {
                &::before {
                    background: $bgcolorprimary;
                }
            }

            .content {
                background-color: $bgcolorprimary;
                color: $fgcolorprimary;

                &::placeholder {
                    color: $fgcolorprimary;
                }
            }

            .mycommentinp {
                filter: drop-shadow(2px 2px 2px $fgcolorprimary);
            }
        }
    }

    footer {
        --background: #{$bgcolorprimary};
        background: var(--background) !important;
        color: $fgcolorprimary;

        .btn {
            background-color: $bgcolorprimary !important;
            border-color: $fgcolorprimary !important;
            color: $fgcolorprimary;
        }
    }
}