@use "mixins.scss" as m;

.glassmorphism {
  .navbar {
    background: rgba(255, 255, 255, 0.5);
  }

  .navbar-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(255, 255, 255, 0.5);
    @include m.setBlur(12px, 100%);
  }

  .offcanvas {
    @include m.setBlur(12px, 150%);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.5);
  }

  #navlinksadmdb {
    @include m.setBlur(12px, 100%);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.5);
  }

  footer {
    @include m.setBlur(12px, 150%);
  }
}