@use "functions.scss" as f;

@mixin themecontent($propstheme) {
    $bgcolorprimary: f.getvalmap($propstheme, "bgcolorprimary"); //background color primary
    $bgcolorsecondary: f.getvalmap($propstheme, "bgcolorsecondary"); //background color secondary
    $fgcolorprimary: f.getvalmap($propstheme, "fgcolorprimary"); //color primary
    $fgcolorsecondary: f.getvalmap($propstheme, "fgcolorsecondary"); //color secondary

    --bs-body-color: #{$fgcolorprimary};
    --bs-body-bg: #{$bgcolorprimary};

    .navbar {
        --background: #{$bgcolorsecondary};
        background: var(--background) !important;

        .navbar-brand {
            color: $fgcolorprimary;
        }

        input {
            background-color: inherit;
            color: $fgcolorsecondary;
        }

        form {
            input {
                border-color: $fgcolorprimary;
                color: $fgcolorprimary;
            }

            ::placeholder {
                color: $fgcolorprimary;
            }

            .btn {
                color: $fgcolorprimary;
            }
        }

        .btn {
            color: $fgcolorprimary;
        }

        .btnsearch {
            background-color: transparent !important;
        }

        .collapse {
            .btn {
                border-color: var(--bs-btn-close-color);
            }
        }
    }

    .offcanvas {        
        .btn-close {
            --bs-btn-close-color: #{$fgcolorprimary};
            --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
            
            @if $fgcolorprimary == white or $fgcolorprimary == #ffffff {
                --bs-btn-close-bg: url("/icons/close/closeico_light.svg");
                --bs-btn-close-white-filter: invert(0) grayscale(100%) brightness(200%);
            } @else if $fgcolorprimary == black or $fgcolorprimary == #000000 {
                --bs-btn-close-bg: url("/icons/close/closeico_dark.svg");
                --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(0%);
            } @else {
                --bs-btn-close-bg: url("/icons/close/closeico.svg");
                --bs-btn-close-white-filter: invert(0) grayscale(100%) brightness(200%);
            }

            background: transparent var(--bs-btn-close-bg) center / 1em auto no-repeat;
            color: var(--bs-btn-close-color);
            stroke: var(--bs-btn-close-color);
            fill: var(--bs-btn-close-color);
            filter: var(--bs-btn-close-white-filter) !important;
        }
    }

    .mybkgpage {
        background-color: $bgcolorprimary;
        color: $fgcolorprimary;
    }

    .modal {
        color: $fgcolorprimary;
        border-color: $fgcolorprimary;

        .modal-header, .modal-body, .modal-footer {
            border-color: $fgcolorprimary;
        }

        .btn-close {
            --bs-btn-close-color: #{$fgcolorprimary};
            --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
            
            @if $fgcolorprimary == white or $fgcolorprimary == #ffffff {
                --bs-btn-close-bg: url("/icons/close/closeico_light.svg");
                --bs-btn-close-white-filter: invert(0) grayscale(100%) brightness(200%);
            } @else if $fgcolorprimary == black or $fgcolorprimary == #000000 {
                --bs-btn-close-bg: url("/icons/close/closeico_dark.svg");
                --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(0%);
            } @else {
                --bs-btn-close-bg: url("/icons/close/closeico.svg");
                --bs-btn-close-white-filter: invert(0) grayscale(100%) brightness(200%);
            }

            background: transparent var(--bs-btn-close-bg) center / 1em auto no-repeat;
            color: var(--bs-btn-close-color);
            stroke: var(--bs-btn-close-color);
            fill: var(--bs-btn-close-color);
            filter: var(--bs-btn-close-white-filter) !important;
        }
    }

    .dropdown-menu {
        background-color: $bgcolorprimary;
        color: $fgcolorprimary;

        & {
            .active {
                --bs-dropdown-link-active-bg: #{$bgcolorsecondary};
                --bs-dropdown-link-active-color: #{$fgcolorprimary};
            }

            :active, :focus, :hover {
                background-color: $bgcolorsecondary !important;
                color: $fgcolorprimary !important;
            }
        }
    }

    #navlinksadmdb {
        background-color: $bgcolorsecondary;
        color: $fgcolorprimary;

        .nav-link {
            &.active {
                background-color: $bgcolorprimary;
                color: $fgcolorprimary;
            }
        }
    }

    .table {
        thead, tfoot {
            background-color: $bgcolorsecondary;
            color: $fgcolorprimary;

            th, td {
                background-color: inherit;
                color: $fgcolorprimary;
            }
        }

        tbody {
            background-color: $bgcolorsecondary;
            color: $fgcolorprimary;            

            th, td {
                color: inherit;
            }
        }

        .btn {
            background-color: $bgcolorsecondary;
            color: inherit;
        }
    }

    .myeditorblk {
        .editor-input-prev {
            background-color: $bgcolorprimary;
            caret-color: $bgcolorprimary;
        }
    }
    
    .card {
        background-color: $bgcolorsecondary;
        color: $fgcolorprimary;

        .btn {
            background-color: $bgcolorprimary !important;
            color: $fgcolorprimary !important;
        }
    }

    header {
        background-color: inherit;
    }

    section, .container, .container-fluid {
        .btn {
            background-color: $bgcolorsecondary;
            border-color: $bgcolorsecondary;
            color: $fgcolorprimary;
        }
    }

    #login section {
        background-color: #{$bgcolorsecondary + "b3"} !important;
        color: $fgcolorsecondary;

        label, p, i, a {
            color: $fgcolorprimary;
        }

        form {
            input {
                background-color: $bgcolorprimary;
                color: $fgcolorprimary;

                &::placeholder {
                    color: $fgcolorprimary;
                }
            }

            .btn {
                background-color: $bgcolorprimary;
            }
        }

        .btn {
            background-color: $bgcolorprimary;
        }
    }

    #register section {
        background-color: #{$bgcolorsecondary + "b3"} !important;
        color: $fgcolorsecondary;

        label, p, i, a {
            color: $fgcolorprimary;
        }

        form {
            input {
                background-color: $bgcolorprimary;
                color: $fgcolorprimary;

                &::placeholder {
                    color: $fgcolorprimary;
                }
            }

            .btn {
                background-color: $bgcolorprimary;
            }
        }

        .btn {
            background-color: $bgcolorprimary;
        }
    }

    .madmdashboard {
        background-color: $bgcolorprimary;
        color: $fgcolorprimary;
    }

    #navbartopadmdb {
        background-color: $bgcolorprimary;
        color: $fgcolorprimary;
    }

    .alert {
        background-color: #{$bgcolorsecondary + "b3"} !important;
        color: $fgcolorprimary;
        border-color: $fgcolorprimary;
    }

    .pagination {
        .page-item {
            .page-link {
                background-color: $bgcolorsecondary;
                border-color: $bgcolorsecondary;
                color: $fgcolorprimary;
            }
        }

        .active > .page-link, .page-link.active {
            background-color: $bgcolorprimary !important;
            border-color: $bgcolorprimary !important;
            color: $fgcolorprimary !important;
        }
    }

    footer {
        --background: #{$bgcolorsecondary};
        background: var(--background) !important;
        color: $fgcolorprimary;

        .btn {
            background-color: $bgcolorprimary !important;
            color: $fgcolorprimary;
        }
    }
}