@use "content.scss" as c;

[data-bs-theme="green"] {
    $bgcolor: #41ff2c;
    $bgcolor2: #0aca02;
    $fgcolor: black;
    $fgcolor2: white;

    @include c.themecontent($bgcolor, $bgcolor2, $fgcolor, $fgcolor2);
}