@use "content.scss" as c;

$themename: "green";

[data-bs-theme=#{$themename}] {
    $propstheme: (
        "bgcolorprimary": #41ff2c,
        "bgcolorsecondary": #0aca02,
        "fgcolorprimary": #000000,
        "fgcolorsecondary": #ffffff
    );

    @include c.themecontent($propstheme);
}