@use "content.scss" as c;

[data-bs-theme="blue"] {
    $bgcolor: #0000ff;
    $bgcolor2: #0050c9;
    $fgcolor: white;
    $fgcolor2: black;

    @include c.themecontent($bgcolor, $bgcolor2, $fgcolor, $fgcolor2);
}