@use "content.scss" as c;

[data-bs-theme="red"] {
    $bgcolor: #ff2c2c;
    $bgcolor2: #d31002;
    $fgcolor: white;
    $fgcolor2: black;

    @include c.themecontent($bgcolor, $bgcolor2, $fgcolor, $fgcolor2);
}