// Required
[data-bs-theme="red"] {
    $bgcolor: #ff2c2c;
    $bgcolor2: #fd1d0d;
    $fgcolor: white;
    $fgcolor2: black;

    --bs-body-color: #{$fgcolor};
    --bs-body-bg: #{$bgcolor};

    .navbar {
        --background: #{$bgcolor2};
        background: var(--background) !important;

        .navbar-brand {
            color: $fgcolor;
        }

        input {
            background-color: inherit;
            color: $fgcolor;
        }

        form {
            .btn {
                color: $bgcolor2;
            }
        }

        .btn {
            color: $fgcolor;
        }
    }

    .dropdown-menu {
        background-color: $bgcolor;
        color: $fgcolor;

        & {
            :active, :focus, :hover {
                background-color: $bgcolor2 !important;
                color: $fgcolor !important;
            }
        }
    }

    header {
        background-color: inherit;
    }

    section {
        background-color: inherit;
    }

    footer {
        --background: #{$bgcolor2};
        background: var(--background) !important;
        color: $fgcolor;

        .btn {
            background-color: $bgcolor !important;
            color: $fgcolor;
        }
    }
}