@use "styles/themes/mixins.scss" as m;
@use 'styles/themes/themes.scss';
@use 'styles/themes/extras/extras.scss';
@use 'styles/animations.module.scss';
@use 'styles/editorstyles.module.scss';
@use 'styles/adminstyles.module.scss';

:root {
  --background: #d8d8d8;
  --animate-duration: 0.5s;
}

html,
body {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0 !important;
}

.fixedadm {
  padding-top: 1rem !important;
}

.mpage {
  padding-top: 3rem !important;
}

.mybkgpage {
  background-color: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

section {
  padding: 15px;
}

.p-relative {
  position: relative;
}

.titlep {
  font-family: var(--font-orbitron);
  font-size: 2rem;
  line-height: 2rem;
}

.stitlep {
  font-family: var(--font-orbitron);
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.navbar {
  --background: black;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-orbitron);
  color: var(--foreground);
  background: var(--background);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

  &.roundednavbar {
    border-radius: calc(15px + 10px) !important;
  }
}

.offcanvas {
  font-family: var(--font-orbitron);

  .mysuboffcanvas {
    position: relative;
    height: 100%;
    max-height: 100%;
  }

  .navlinklogin {
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
  }

  &.rounded {
    border-radius: calc(15px + 0px) !important;
  }
}

.hidden {
  display: none !important;
  pointer-events: none;
}

.myuplfileimg {
  display: block;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  max-height: 100%;
  border-radius: 25px;
  object-fit: cover;
  margin: auto;
}

.uplrulesblk {
  padding: 15px;

  .uplrulesubblk {
    border: 1px solid;
    border-radius: 15px;
    padding: 15px;
  }

  .uplrulestitle {
    font-weight: bold;
  }
}

.progress {
  padding: 1rem 0px;

  .progress-bar {
    margin: -1rem auto;
  }
}

.myuplborder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 15rem 15px;
  box-shadow: 2px 4px 6px;
  border: 1px solid;
  border-radius: 15px;

  i {
    font-size: 4rem;
  }
}

.mychart {
  position: relative;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  max-height: 100%;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  color: inherit;
}

.bshadow {
  box-shadow: 2px 4px 6px;
}

.table-responsive {
  &.mtable-long {
    max-height: 46vh;
  }

  &.mtable-nobordered {
    box-shadow: 2px 4px 6px;
    border-radius: 15px;
  }

  &.mtable-shadow {
    box-shadow: 2px 4px 6px;
  }

  &.mtable-noshadow {
    box-shadow: 0;
  }
}

.table {
  margin-bottom: 0 !important;
  border-collapse: collapse;
  word-wrap: break-word;

  &.table-nobordered {
    border: 0 !important;

    &.table-rounded {
      td {
        border: 0 !important;
      }
    }
  }

  &.table-bordered *:not(i, label) {
    border: 0;
    border: 1px solid !important;
  }

  &.table-rounded {
    border-collapse: separate !important;
    border-spacing: 0;

    td {
      border: solid 1px;
      border-style: none solid solid none;
      padding: 10px;
    }

    thead {
      tr:first-child th:first-child {
        border-top-left-radius: 0px;
      }

      tr:first-child th:last-child {
        border-top-right-radius: 0px;
      }
    }

    tbody {
      tr:first-child td {
        border-top-style: solid;
      }

      tr td:first-child {
        border-left-style: solid;
      }
    }

    tfoot {
      tr:last-child td:first-child {
        border-bottom-left-radius: 0px;
      }

      tr:last-child td:last-child {
        border-bottom-right-radius: 0px;
      }
    }
  }

  &.table-shadow {
    box-shadow: var(--bs-box-shadow) !important;
  }

  &.table-autolayout {
    table-layout: auto;
    white-space: pre;
    margin-right: 1px;
  }

  &.tfixed {
    table-layout: fixed;
    word-wrap: break-word;
  }

  &.tauto {
    table-layout: auto;
  }

  thead th,
  tfoot td {
    background-color: #212529;
    color: white;
    border: 0;
  }

  tbody td {
    color: black;
    border: 0;
  }

  th,
  td {
    text-align: center;
    vertical-align: middle;
  }
}

footer {
  --bs-bg-opacity: 1;
  --background: initial;

  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 15px;
  font-family: var(--font-orbitron);
  color: var(--background);
  background: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 1;

  .colfooter1 {
    text-align: center;
  }

  .colfooter2 {
    text-align: center;
  }

  &.roundedfooter {
    border-radius: calc(15px + 0px) !important;
  }
}

.rounded {
  border-radius: calc(15px + 0px) !important;

  * {
    border-radius: inherit;
  }
}

.btn {
  background-color: inherit;
  border-color: inherit;
  color: inherit;

  &:hover {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
  }

  &.btnclose {
    background-color: transparent;
    border-color: transparent;
  }

  &.btnflex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.btnborderless {
    border: 0 !important;
  }

  &.btn-rounded {
    border-radius: 25px !important;
  }

  &.btn-shadow {
    box-shadow: 2px 4px 6px;
  }

  &.btn-tp {
    background: transparent !important;
    border: 1px solid;

    &:hover {
      border-color: inherit;
    }
  }
}

.carousel-caption {
  color: white !important;
  z-index: 2;

  &.carcentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    bottom: auto;
  }
}

.frmsearch {
  position: relative;
}

.frmuplfilesingle,
.frmuplfilesmult {
  .lblfile {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    background: #0d6efd;
    border-color: #0d6efd;
    color: white;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    margin: 1rem auto;
    cursor: pointer;

    &:hover {
      background-color: #0b5ed7;
      border-color: #0a58ca;
      color: #fff;
      transition: all .2s ease-in-out;
    }
  }

  input[type=file] {
    overflow: hidden;

    &::file-selector-button {
      background: #0d6efd;
      border-color: #0d6efd;
      color: white;
      border: none;
      padding: 0.75rem 0.75rem;
      font-size: 1rem;
      line-height: 1rem;
      margin-right: 1rem;
      border-radius: 15px;
      color: #fff;
      cursor: pointer;
      transition: all .2s ease-in-out;

      &:hover {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
      }
    }
  }
}

.frmsearch {
  .inpsearch {
    margin: 0;
    z-index: 0;
  }

  .btnsearch {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: 0;
    margin-right: 0px;
    margin-left: 0px;
    z-index: 2;
  }

  .inpsearch, .btnsearch {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

#modal-root {
  position: relative;
}

#modal-root .show {
  $blursize: 5px;

  display: block;
  z-index: 99999999;
  -ms-backdrop-filter: blur($blursize);
  -moz-backdrop-filter: blur($blursize);
  -o-backdrop-filter: blur($blursize);
  -webkit-backdrop-filter: blur($blursize);
  backdrop-filter: blur($blursize);

  .modal-content {
    background: rgb(255, 255, 255, .7);
    box-shadow: 2px 4px 6px;
  }
}

#toast-root {
  position: fixed;
  z-index: 999999;
  width: 100%;
  max-width: 100%;

  .fade {
    -webkit-animation: fadeinout 4s linear forwards;
    -moz-animation: fadeinout 4s linear forwards;
    -ms-animation: fadeinout 4s linear forwards;
    -o-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
    opacity: 0;
  }

  .toast-header {
    justify-content: space-between;

    .longname {
      text-overflow: ellipsis;
      max-width: 50px;
      white-space: nowrap;
      overflow: hidden;

      &:hover {
        text-overflow: none;
        max-width: 100%;
        white-space: inherit;
        overflow: auto;
      }
    }

    .name {
      text-overflow: none;
      max-width: 100%;
      white-space: inherit;
      overflow: auto;
    }
  }

  .show {
    position: fixed;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    display: block;
    z-index: 99999999;

    .toast-container {
      bottom: 0 !important;
      top: auto !important;
    }
  }
}

.mtoast {
  position: relative;
  z-index: 0;

  &.toast {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: calc(15px + 10px);
  }

  .success {
    $bgcolor: green;
    $bordercolor: white;
    $color: white;

    .toast-header, .toast-body, .toast-footer {
      background-color: $bgcolor;
      border-color: $bordercolor;
      color: $color;

      * {
        color: $color !important;
      }
    }
  }

  .error, .danger {
    $bgcolor: red;
    $bordercolor: white;
    $color: white;

    .toast-header, .toast-body, .toast-footer {
      background-color: $bgcolor;
      border-color: $bordercolor;
      color: $color;

      * {
        color: $color !important;
      }
    }
  }

  .warning {
    $bgcolor: yellow;
    $bordercolor: black;
    $color: black;

    .toast-header, .toast-body, .toast-footer {
      background-color: $bgcolor;
      border-color: $bordercolor;
      color: $color;

      * {
        color: $color !important;
      }
    }
  }

  .info {
    $bgcolor: #0d6efd;
    $bordercolor: white;
    $color: white;

    .toast-header, .toast-body, .toast-footer {
      background-color: $bgcolor;
      border-color: $bordercolor;
      color: $color;

      * {
        color: $color !important;
      }
    }
  }

  .other {
    $bgcolor: white;
    $bordercolor: white;
    $color: black;

    .toast-header, .toast-body, .toast-footer {
      background-color: $bgcolor;
      border-color: $bordercolor;
      color: $color;

      * {
        color: $color !important;
      }
    }
  }

  .btn {
    &.btnclosetoast {
      background: transparent !important;
      border: 0 !important;
    }
  }
}

.card {
  position: relative;
  border-radius: 25px;

  .cardnodata {
    box-shadow: 0;
  }
}

.bcuserinfo {
  box-shadow: 2px 4px 6px;

  .bcavatar {
    box-shadow: 2px 4px 6px black;
  }

  .textfrm {
    display: block;
    margin: 15px auto 0 auto;
    text-align: center;
    line-height: 2rem;
  }
}

.allbcuserinfo {
  box-shadow: 2px 4px 6px;

  .allbcavatar {
    box-shadow: 2px 4px 6px black;
  }
}

.cardwrapper {
  position: relative;
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 15px auto;
}

.card-author {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-author:not(.img-author) {
  font-size: calc(1rem - 0.1rem);
}

.card-author .img-author {
  width: 30px;
  height: 30px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50% !important;
  object-fit: cover;
  object-position: left center;
}

#mallnewspage {
  .cardnews {
    .card-img-top:not(.rounded) {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
}

.fi {
  width: calc(1rem + 0.5rem);
  line-height: calc(1rem + 0.5rem);
}

.cardnews {
  border: 0;
  box-shadow: 2px 4px 6px !important;

  .card-footer {
    margin: 15px -15px -15px -15px;

    .card-info {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;

      .bi {
        padding-right: .5rem;
      }
    }
  }

  .card-img-top {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 40vh;
    object-fit: cover;
    border-radius: inherit;
  }
}

.cardarch {
  $talign: left;

  position: relative;
  border: 0;
  text-align: $talign;

  .card-body {
    position: relative;
    text-align: inherit;

    .card-title {
      padding: 0 15px;
    }

    * {
      text-align: inherit;

      @if($talign =="left") {
        justify-content: flex-start !important;
      }

      @else if($talign =="center") {
        justify-content: center !important;
      }

      @else {
        justify-content: flex-end !important;
      }
    }
  }

  .card-footer {
    position: relative;
    background: transparent;
    flex: 1 1 auto;
    border: 0px;
    width: 100%;
    max-width: 100%;
    text-align: inherit;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 15px;

    .card-info {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;

      .bi {
        padding-right: .5rem;
      }
    }
  }

  .card-img-top {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.cardlg {
  transition: all .2s ease-in-out;

  .card-img-top {
    width: 100%;
    height: 40vh;
    max-width: 100%;
    max-height: 100%;
  }

  .card-author {
    flex-direction: row;
    font-size: .8rem;

    .colauthorleft {
      text-align: left;
    }

    .colauthorcenter {
      text-align: center;
    }

    .colauthorright {
      text-align: right;
    }
  }

  .card-body {
    position: relative;
    border: 0;
    padding: 0;
  }

  .card-info {
    display: block;
    margin: 0px auto;
  }

  .scard-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    border: 0;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(0deg, #000000FF 0%, #FF000000 100%);
    padding: 15px;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.card,
.cardlg {
  word-break: break-all;
}

.card-info-featured-wrapper {
  position: inherit;
}

.card-info-featured {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
  background-color: transparent;
  width: auto;
  height: auto;
}

.card-info-featured .bi {
  font-size: 1rem;
  color: orange;
  position: relative;
  margin: auto auto;
}

.linesep {
  margin: auto 15px;
}

#msstepper {
  position: relative;
  width: calc(100% / 3);

  #stepperline {
    position: absolute;
    min-width: 100%;
    top: 50%;
    left: -50%;
    right: auto;
    transform: translate(100%, -50%);
    margin: -0.5rem auto;
    padding: 0;
    border: 1px solid;
  }

  &:last-child #stepperline {
    display: none;
  }
}

.frmreg,
.frmregstep {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin: 15px auto;
  width: 100%;
  max-width: 100%;
}

.frmlog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;

  &.frmdisabled {
    filter: blur(16px);
    
    input:disabled {
      background-color: beige;
      cursor: not-allowed !important;
    }

    button:disabled {
      cursor: not-allowed !important;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin: 0px auto;
  width: 100%;
  max-width: 100%;
}

.form-group {
  width: 100%;
  max-width: 100%;
}

.form-control {
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, .25);
  }
}

#termsandcon:checked::before,
#termsandcond:checked::before {
  content: "\f00c";
  font-family: FontAwesome;
  background: inherit;
  color: blue;
  position: relative;
  width: calc(30px - 2px);
  height: calc(30px - 2px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
}

.alert .alertico {
  font-size: 1.3rem;
  color: inherit;
}

.alert .alertname {
  color: inherit;
  margin-left: .5rem;
}

.card.card-transparent {
  background-color: transparent;
  border-color: transparent;
}

.navbar-brand {
  font-family: 'Orbitron';
}

.navbar-toggler {
  display: inline-block;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 50%;
  padding: 0.625rem 0.625rem;

  .bi {
    width: auto;
    height: auto;
    display: inline-block;
    align-content: center;
  }
}

.dropdown-menu {
  z-index: 1001;
}

.pagination {
  z-index: 0;

  .page-item {
    $width: 38px;
    $height: 38px;
    $padding: 8px 10px;
    $margin: auto 5px;
    $font-size: .9rem;

    width: $width;
    height: $height;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    padding: 0;
    margin: $margin;

    .page-link {
      display: block;
      align-content: center;
      width: $width;
      height: $height;
      padding: $padding;
      border-radius: inherit;
      color: black;
      font-size: $font-size;
    }
  }

  .active>.page-link,
  .page-link.active {
    color: white;
  }
}

.mytoast {
  position: relative;
}

.myschedule {
  display: block;
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 4px 6px;

  .fc-header-toolbar {
    .fc-button-group {
      button:not(:last-child) {
        border-radius: 0.25em;
      }

      button:not(:first-child) {
        display: none;
      }
    }
  }

  .fc-col-header-cell-cushion {
    font-size: 1rem;
  }

  .fc-timegrid-axis-cushion,
  .fc-timegrid-slot-label-cushion {
    font-size: 1rem;
  }

  .fc-v-event {
    font-size: var(--fc-small-font-size);
  }
}

.quill {
  background-color: white;
  color: black;
}

.ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}

.ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}

// root css file
.quill>* {
  border-color: inherit !important;
  color: inherit !important;
}

.quill>.ql-toolbar {
  /* border radius of the toolbar */
  border-radius: 10px 10px 0 0;
}

.quill>.ql-container {
  /* border radius of the container and for font size*/
  font-size: inherit;
  border-radius: 0 0 10px 10px;
}

.ql-toolbar.ql-snow .ql-picker-label {
  color: inherit !important;
  opacity: 0.76;
}

.ql-snow .ql-picker {
  color: inherit !important;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
  /* for placeholder */
  color: inherit;
}

.ql-snow.ql-toolbar button svg {
  opacity: 0.76;
  color: black;
}

.ql-snow .ql-stroke {
  /* for the border of the editor */
  stroke: currentColor !important;
}

.ql-snow .ql-fill {
  /* for the bg color */
  fill: currentColor !important;
}

.ql-picker-item {
  /* for dropdown */
  color: #444 !important;
}

.mhv-100 {
  min-height: 100vh;
}

.fc .fc-list-event:hover td,
a.fc-event:hover {
  cursor: pointer;
}

.infocommits {
  display: block;
  text-align: left;
}

.commentlocked {
  border: 1px solid #212529;
  box-shadow: 2px 4px 0px;
  padding: 15px;
  border-radius: 15px;
}

.frmcommentsblk {
  display: flex;

  .frmcommentscol1 {
    flex-shrink: 0 !important;
    text-align: left;
  }

  .frmcommentscol2 {
    flex-grow: 1 !important;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;

    .caret {
      position: relative;
      z-index: 1;

      &::before {
        display: block;
        content: "";
        -webkit-clip-path: polygon(0 0, 50% 0, 50% 50%);
        clip-path: polygon(100% 0, 50% 0, 100% 50%);
        border-radius: 1rem;
        width: 20px;
        height: 20px;
        background: white;
        position: absolute;
        top: 0px;
        left: -29px;
        padding: 15px;
        z-index: 1;
        border-radius: 0;
        border: 0;
      }
    }

    .mycommentinp {
      filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
    }
  }

  .img-author {
    width: 50px;
    height: 50px;

    &.rounded {
      border-radius: 50% !important;
    }
  }

  .content {
    border-radius: 1rem;
    border-color: inherit;

    &.caretcontrol {
      border: 0 !important;
      border-top-left-radius: 0;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
    }

    &::placeholder {
      color: inherit;
    }
  }
}

.btn-group {
  * {
    border-radius: calc(15px + 10px) !important;
  }
}

.btngroupposts {
  * {
    border-radius: calc(15px + 10px) !important;
  }
}

.commentsblk {
  display: flex;

  .commentcol1 {
    flex-shrink: 0 !important;
    text-align: left;
  }

  .commentcol2 {
    flex-grow: 1 !important;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

  .img-author {
    width: 50px;
    height: 50px;

    &.rounded {
      border-radius: 50% !important;
    }
  }

  .namecomment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .btncommentactions {
    .bi, i {
      padding: 0 !important;
    }

    &:after {
      display: none;
      margin: 0;
      padding: 0;
    }
  }

  .contentcomment {
    text-align: justify;
    line-height: 2rem;
    border-color: inherit;
  }

  .timecomment {
    font-size: .8rem;
  }
}

.ws-pre {
  white-space: pre;
}

.myroundedscrollbar {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 2px 4px 6px;

  * {
    &:not(.btn) {
      box-shadow: 0px 0px 0px !important;
      border-radius: 0px;
    }
  }
}

.nav-tabs {
  .nav-link {
    color: black;
  }
}

.mysublinks {
  position: relative;
  margin: 0;
  border: 0;
  width: 100%;
  max-width: 100%;
  text-align: left;
  transform: none;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  text-decoration: none;

  .dropdown-toggle {
    padding: 0;
  }

  .dropdown-menu {
    position: relative !important;
    padding: 5px 5px;
    text-align: left;
    width: 100%;
    max-width: 100%;
    border: none;
    transform: translate(0px, 5px) !important;
    border-radius: var(--bs-nav-pills-border-radius);

    li {
      border-radius: inherit;
    }

    .nav-item {
      border-radius: inherit;
    }

    .dropdown-item {
      padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x) !important;
      border-radius: inherit;
    }
  }
}

.mynavdatamode {
  margin: 15px auto;
  text-align: center;
  justify-content: center;

  .nav-link {
    border-radius: 15px;
    margin: auto 5px;
  }
}

.contentjson {
  display: block;
  text-align: left;
  white-space: pre-wrap;
  box-shadow: 2px 4px 6px;
  padding: 15px;
  background-color: #ffffff;
  color: #212529;
  border-radius: 15px;
  max-height: 600px;
  overflow: auto;
  margin: 0;

  ::before {
    content: "       JSON";
    display: block;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-filetype-json' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M14 4.5V11h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM4.151 15.29a1.2 1.2 0 0 1-.111-.449h.764a.58.58 0 0 0 .255.384q.105.073.25.114.142.041.319.041.245 0 .413-.07a.56.56 0 0 0 .255-.193.5.5 0 0 0 .084-.29.39.39 0 0 0-.152-.326q-.152-.12-.463-.193l-.618-.143a1.7 1.7 0 0 1-.539-.214 1 1 0 0 1-.352-.367 1.1 1.1 0 0 1-.123-.524q0-.366.19-.639.192-.272.528-.422.337-.15.777-.149.456 0 .779.152.326.153.5.41.18.255.2.566h-.75a.56.56 0 0 0-.12-.258.6.6 0 0 0-.246-.181.9.9 0 0 0-.37-.068q-.324 0-.512.152a.47.47 0 0 0-.185.384q0 .18.144.3a1 1 0 0 0 .404.175l.621.143q.326.075.566.211a1 1 0 0 1 .375.358q.135.222.135.56 0 .37-.188.656a1.2 1.2 0 0 1-.539.439q-.351.158-.858.158-.381 0-.665-.09a1.4 1.4 0 0 1-.478-.252 1.1 1.1 0 0 1-.29-.375m-3.104-.033a1.3 1.3 0 0 1-.082-.466h.764a.6.6 0 0 0 .074.27.5.5 0 0 0 .454.246q.285 0 .422-.164.137-.165.137-.466v-2.745h.791v2.725q0 .66-.357 1.005-.355.345-.985.345a1.6 1.6 0 0 1-.568-.094 1.15 1.15 0 0 1-.407-.266 1.1 1.1 0 0 1-.243-.39m9.091-1.585v.522q0 .384-.117.641a.86.86 0 0 1-.322.387.9.9 0 0 1-.47.126.9.9 0 0 1-.47-.126.87.87 0 0 1-.32-.387 1.55 1.55 0 0 1-.117-.641v-.522q0-.386.117-.641a.87.87 0 0 1 .32-.387.87.87 0 0 1 .47-.129q.265 0 .47.129a.86.86 0 0 1 .322.387q.117.255.117.641m.803.519v-.513q0-.565-.205-.973a1.46 1.46 0 0 0-.59-.63q-.38-.22-.916-.22-.534 0-.92.22a1.44 1.44 0 0 0-.589.628q-.205.407-.205.975v.513q0 .562.205.973.205.407.589.626.386.217.92.217.536 0 .917-.217.384-.22.589-.626.204-.41.205-.973m1.29-.935v2.675h-.746v-3.999h.662l1.752 2.66h.032v-2.66h.75v4h-.656l-1.761-2.676z'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    line-height: 1rem;
    background-origin: content-box;
    border-radius: 15px 15px 0px 0px;
    margin: -15px -15px 15px -15px;
    padding: 15px !important;
    background-color: black;
    color: white;
    font-family: 'Orbitron', 'Orbitron Fallback';
  }
}

.video-js {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.tooltip {
  z-index: 99999;
}

@media all and (width <=1199px) {
  .card-author {
    flex-direction: column;
    margin: 15px auto !important;
  }

  .card-author .img-author {
    margin: 0;
  }

  .card-author .linesep {
    margin: 15px .5rem;
  }
}

@media all and (width <=992px) {
  .navbar-collapse>* {
    margin: 15px auto;
  }

  .cardnews {
    .card-footer {
      .card-info {
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .colfooter1,
      .colfooter2 {
        text-align: center;
      }
    }
  }

  .cardarch {
    text-align: center;

    .card-body {
      text-align: center;

      * {
        text-align: center;
        justify-content: center;
      }
    }

    .card-footer {
      position: relative;

      .card-info {
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }

  .myuplborder {
    i {
      font-size: 2rem;
    }
  }

  .myschedule {
    $fs: var(--fc-small-font-size);
    $cfs: calc(calc($fs + 1rem) - $fs);

    .fc-header-toolbar {
      flex-direction: column;

      .fc-toolbar-chunk {
        text-align: center;
        margin-top: 15px;
      }
    }

    .fc-col-header-cell-cushion {
      font-size: calc($cfs - 0.2rem);
    }

    .fc-timegrid-axis-cushion,
    .fc-timegrid-slot-label-cushion {
      font-size: calc($cfs - 0.2rem);
    }

    .fc-v-event {
      font-size: calc($cfs - 0.4rem);
    }

    .fc-direction-ltr .fc-daygrid-event.fc-event-start,
    .fc-direction-rtl .fc-daygrid-event.fc-event-end {
      font-size: calc($cfs - 0.4rem);
    }
  }
}

@media all and (width >=992px) and (width <=1199px) {
  .cardlg {

    .colauthorleft,
    .colauthorcenter,
    .colauthorright {
      margin: 0px 0px !important;
    }
  }
}

@media all and (width <= 992px) {
  .containerstats {
    .card {
      .card-body > * {
        flex-direction: column;
      }      

      .bi { order: 0; }
      .card-text { order: 1; margin-top: 15px; }
    }
  }
}

@media all and (width <=768px) {
  .cardlg {
    .card-author {
      flex-direction: column;
    }

    .colauthorleft,
    .colauthorcenter,
    .colauthorright {
      margin: .5rem 0px !important;
      text-align: center !important;
    }
  }
}

@import "bootstrap/dist/css/bootstrap.min.css";