@use 'styles/themes/themes.scss';
@use 'styles/editorstyles.module.scss';

:root {
  --background: #d8d8d8;
}

html,
body {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0 !important;
}

.mybkgpage {
  background-color: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.p-relative {
  position: relative;
}

.navbar {
  --background: black;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-orbitron);
  color: var(--foreground);
  background: var(--background);
}

.offcanvas {
  font-family: var(--font-orbitron);
}

.offcanvas .mysuboffcanvas {
  position: relative;
  height: 100%;
  max-height: 100%;
}

.offcanvas .navlinklogin {
  position: absolute;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
}

.hidden {
  display: none !important;
}

.myuplfileimg {
  display: block;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  max-height: 100%;
  border-radius: 25px;
  object-fit: cover;
  margin: auto;
}

.uplrulesblk {
  padding: 15px;

  .uplrulesubblk {
    border: 1px solid;
    border-radius: 15px;
    padding: 15;
  }

  .uplrulestitle {
    font-weight: bold;
  }
}

.progress {
  padding: 1rem 0px;

  .progress-bar {
    margin: -1rem auto;
  }
}

.myuplborder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 15rem 15px;
  box-shadow: 2px 4px 6px;
  border: 1px solid;
  border-radius: 15px;

  i {
    font-size: 4rem;
  }
}

.mychart {
  position: relative;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  max-height: 100%;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  color: inherit;
}

.bshadow {
  box-shadow: 2px 4px 6px;
}

.table-responsive {
  &.mtable-long {
    max-height: 46vh;
  }

  &.mtable-nobordered {
    box-shadow: 2px 4px 6px;
    border-radius: 15px;
  }

  &.mtable-shadow {
    box-shadow: 2px 4px 6px;
  }

  &.mtable-noshadow {
    box-shadow: 0;
  }
}

.table {
  margin-bottom: 0 !important;
  border-collapse: collapse;
  word-wrap: break-word;

  &.table-nobordered {
    border: 0 !important;

    &.table-rounded {
      td {
        border: 0 !important;
      }
    }
  }

  &.table-bordered *:not(i, label) {
    border: 0;
    border: 1px solid !important;
  }

  &.table-rounded {
    border-collapse: separate !important;
    border-spacing: 0;

    td {
      border: solid 1px;
      border-style: none solid solid none;
      padding: 10px;
    }

    thead tr:first-child th:first-child {
      border-top-left-radius: 10px;
    }

    thead tr:first-child th:last-child {
      border-top-right-radius: 10px;
    }

    tfoot tr:last-child td:first-child {
      border-bottom-left-radius: 10px;
    }

    tfoot tr:last-child td:last-child {
      border-bottom-right-radius: 10px;
    }

    tbody tr:first-child td {
      border-top-style: solid;
    }

    tbody tr td:first-child {
      border-left-style: solid;
    }
  }

  &.table-shadow {
    box-shadow: var(--bs-box-shadow) !important;
  }

  &.table-autolayout {
    table-layout: auto;
    white-space: pre;
    margin-right: 1px;
  }

  &.tfixed {
    table-layout: fixed;
    word-wrap: break-word;
  }

  &.tauto {
    table-layout: auto;
  }

  thead th,
  tfoot td {
    background-color: #212529;
    color: white;
    border: 0;
  }

  tbody td {
    color: black;
    border: 0;
  }

  th,
  td {
    text-align: center;
    vertical-align: middle;
  }
}

footer {
  --bs-bg-opacity: 1;
  --background: initial;

  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 15px;
  font-family: var(--font-orbitron);
  color: var(--background);
  background: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.rounded * {
  border-radius: inherit;
}

.btnflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-rounded {
  border-radius: 25px;
}

.btn-shadow {
  box-shadow: 2px 4px 6px;
}

.btn-tp {
  background: transparent;
  border: 1px solid;
}

.btn-tp:hover {
  background: var(--foreground);
  border-color: inherit;
  color: var(--background);
}

.carousel-caption {
  color: white !important;
  z-index: 2;
}

.carousel-caption.carcentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  bottom: auto;
}

.frmsearch {
  position: relative;
}

.frmsearch .inpsearch {
  z-index: 0;
}

.frmsearch .btnsearch {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border: 0;
  margin-right: 9px;
  z-index: 2;
}

#modal-root {
  position: relative;
}

#modal-root .show {
  $blursize: 5px;

  display: block;
  z-index: 99999999;
  -ms-backdrop-filter: blur($blursize);
  -moz-backdrop-filter: blur($blursize);
  -o-backdrop-filter: blur($blursize);
  -webkit-backdrop-filter: blur($blursize);
  backdrop-filter: blur($blursize);
}

.card {
  position: relative;
  border-radius: 25px;
}

.cardwrapper {
  position: relative;
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 15px auto;
}

.card-author {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-author:not(.img-author) {
  font-size: calc(1rem - 0.1rem);
}

.card-author .img-author {
  width: 30px;
  height: 30px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50% !important;
  object-fit: cover;
  object-position: left center;
}

.cardnews {
  border: 0;

  .card-footer {
    margin: 15px -15px -15px -15px;

    .card-info {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;

      .bi {
        padding-right: .5rem;
      }
    }
  }

  .card-img-top {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 40vh;
    object-fit: cover;
  }
}

.cardlg {
  transition: all .2s ease-in-out;

  .card-img-top {
    width: 100%;
    height: 40vh;
    max-width: 100%;
    max-height: 100%;
  }

  .card-author {
    flex-direction: row;
    font-size: .8rem;

    .colauthorleft {
      text-align: left;
    }

    .colauthorcenter {
      text-align: center;
    }

    .colauthorright {
      text-align: right;
    }
  }

  .card-body {
    position: relative;
    border: 0;
    padding: 0;
  }

  .card-info {
    display: block;
    margin: 0px auto;
  }

  .scard-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    border: 0;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(0deg, #000000FF 0%, #FF000000 100%);
    padding: 15px;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.card, .cardlg {
  word-break: break-all;
}

.card-info-featured-wrapper {
  position: inherit;
}

.card-info-featured {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
  background-color: transparent;
  width: auto;
  height: auto;
  /* 
  width: 90px;
  height: 90px;
  clip-path: polygon(100% 0%, 0% 0%, 100% 100%); */
  /* clip-path: polygon(0% 0%, 100% 0%, 0% 100%);  */
}

.card-info-featured .bi {
  font-size: 1rem;
  color: orange;
  position: relative;
  margin: auto auto;
  /* margin: auto 2rem; */
}

.linesep {
  margin: auto 15px;
}

#msstepper {
  position: relative;
  width: calc(100% / 3);

  #stepperline {
    position: absolute;
    min-width: 100%;
    top: 50%;
    left: -50%;
    right: auto;
    transform: translate(100%, -50%);
    margin: -0.5rem auto;
    padding: 0;
    border: 1px solid;
  }

  &:last-child #stepperline {
    display: none;
  }
}

.frmreg,
.frmregstep {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin: 15px auto;
  width: 100%;
  max-width: 100%;
}

.frmlog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin: 0px auto;
  width: 100%;
  max-width: 100%;
}

.form-group {
  width: 100%;
  max-width: 100%;
}

#termsandcon:checked::before,
#termsandcond:checked::before {
  content: "\f00c";
  font-family: FontAwesome;
  background: inherit;
  color: blue;
  position: relative;
  width: calc(30px - 2px);
  height: calc(30px - 2px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
}

.alert .alertico {
  font-size: 1.3rem;
  color: inherit;
}

.alert .alertname {
  color: inherit;
  margin-left: .5rem;
}

.card.card-transparent {
  background-color: transparent;
  border-color: transparent;
}

.navbar-brand {
  font-family: 'Orbitron';
}

.pagination {
  .page-item {
    $width: 38px;
    $height: 38px;
    $padding: 8px 10px;
    $margin: auto 5px;
    $font-size: .9rem;

    width: $width;
    height: $height;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    padding: 0;
    margin: $margin;

    .page-link {
      display: block;
      align-content: center;
      width: $width;
      height: $height;
      padding: $padding;
      border-radius: inherit;
      color: black;
      font-size: $font-size;
    }
  }

  .active>.page-link,
  .page-link.active {
    color: white;
  }
}

.myschedule {
  display: block;
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 4px 6px;

  .fc-header-toolbar {
    .fc-button-group {
      button:not(:last-child) {
        border-radius: 0.25em;
      }

      button:not(:first-child) {
        display: none;
      }
    }
  }

  .fc-col-header-cell-cushion {
    font-size: 1rem;
  }

  .fc-timegrid-axis-cushion,
  .fc-timegrid-slot-label-cushion {
    font-size: 1rem;
  }

  .fc-v-event {
    font-size: var(--fc-small-font-size);
  }
}

.quill {
  background-color: white;
  color: black;
}

.ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}

.ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}

// root css file
.quill>* {
  border-color: inherit !important;
  color: inherit !important;
}

.quill>.ql-toolbar {
  /* border radius of the toolbar */
  border-radius: 10px 10px 0 0;
}

.quill>.ql-container {
  /* border radius of the container and for font size*/
  font-size: inherit;
  border-radius: 0 0 10px 10px;
}

.ql-toolbar.ql-snow .ql-picker-label {
  color: inherit !important;
  opacity: 0.76;
}

.ql-snow .ql-picker {
  color: inherit !important;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
  /* for placeholder */
  color: inherit;
}

.ql-snow.ql-toolbar button svg {
  opacity: 0.76;
  color: black;
}

.ql-snow .ql-stroke {
  /* for the border of the editor */
  stroke: currentColor !important;
}

.ql-snow .ql-fill {
  /* for the bg color */
  fill: currentColor !important;
}

.ql-picker-item {
  /* for dropdown */
  color: #444 !important;
}

.mhv-100 {
  min-height: 100vh;
}

.fc .fc-list-event:hover td,
a.fc-event:hover {
  cursor: pointer;
}

.infocommits {
  display: block;
  text-align: left;
}

.ws-pre {
  white-space: pre;
}

.myroundedscrollbar {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 2px 4px 6px;

  * {
    box-shadow: 0px 0px 0px !important;
    border-radius: 0px !important;
  }
}

.mysublinks {
  position: relative;
  inset: 0px auto auto 0px;
  border: 0;
  width: auto;
  max-width: 100%;
  margin: 0px;
  text-align: left;
  transform: none;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  text-decoration: none;

  .dropdown-toggle {
    padding: 0;
  }

  .dropdown-menu {
    position: relative;
    padding: 5px 15px;
    text-align: left;
    width: 100%;
    max-width: 100%;
    border: none;
    transform: translate(0px, 36px) !important;
    border-radius: var(--bs-nav-pills-border-radius);

    .nav-item {
      border-radius: var(--bs-nav-pills-border-radius);
    }

    .dropdown-item {
      border-radius: var(--bs-nav-pills-border-radius);
    }
  }
}

.mynavdatamode {
  margin: 15px auto;
  text-align: center;
  justify-content: center;

  .nav-link {
    border-radius: 15px;
    margin: auto 5px;
  }
}

.contentjson {
  display: block;
  text-align: left;
  white-space: pre-wrap;
  box-shadow: 2px 4px 6px;
  padding: 15px;
  background-color: #ffffff;
  color: #212529;
  border-radius: 15px;
  max-height: 600px;
  overflow: auto;
  margin: 0;

  ::before {
    content: "JSON";
    display: block;
    border-radius: 15px 15px 0px 0px;
    margin: -15px -15px 15px -15px;
    padding: 15px !important;
    background-color: black;
    color: white;
    font-family: 'Orbitron', 'Orbitron Fallback';
  }
}

@media all and (width <= 1199px) {
  .card-author {
    flex-direction: column;
    margin: 15px auto !important;
  }

  .card-author .img-author {
    margin: 0;
  }

  .card-author .linesep {
    margin: 15px .5rem;
  }
}

@media all and (width <= 992px) {
  .navbar-collapse>* {
    margin: 15px auto;
  }

  .cardnews {
    .card-footer {
      .card-info {
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }

  .myuplborder {
    i {
      font-size: 2rem;
    }
  }

  .myschedule {
    $fs: var(--fc-small-font-size);
    $cfs: calc(calc($fs + 1rem) - $fs);

    .fc-header-toolbar {
      flex-direction: column;

      .fc-toolbar-chunk {
        text-align: center;
        margin-top: 15px;
      }
    }

    .fc-col-header-cell-cushion {
      font-size: calc($cfs - 0.2rem);
    }

    .fc-timegrid-axis-cushion,
    .fc-timegrid-slot-label-cushion {
      font-size: calc($cfs - 0.2rem);
    }

    .fc-v-event {
      font-size: calc($cfs - 0.4rem);
    }

    .fc-direction-ltr .fc-daygrid-event.fc-event-start,
    .fc-direction-rtl .fc-daygrid-event.fc-event-end {
      font-size: calc($cfs - 0.4rem);
    }
  }
}

@media all and (width >= 992px) and (width <= 1199px) {
  .cardlg {
    .colauthorleft, .colauthorcenter, .colauthorright {
      margin: 0px 0px !important;
    }
  }
}

@media all and (width <= 768px) {
  .cardlg {
    .card-author {
      flex-direction: column;
    }

    .colauthorleft, .colauthorcenter, .colauthorright {
      margin: .5rem 0px !important;
      text-align: center !important;
    }
  }
}

@import "bootstrap/dist/css/bootstrap.min.css";